@import url("guest.css");

/* Top Bar with Post Button */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
}

.post-btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    padding: var(--padding);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-btn:hover {
    background-color: var(--btn-hover-color);
}

/* Search Bar */
.search-container {
    width: 80%;
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

/* Upload Form Styling */
/* Additional Styles for Photo Upload Form */
.upload-form {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: var(--border-radius);
    text-align: center;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.upload-form h2 {
    color: var(--text-color);
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-size: var(--font-size-normal);
    color: var(--secondary-text-color);
}

input, textarea {
    padding: var(--padding);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

textarea {
    height: 80px;
    resize: none;
}

.btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--btn-hover-color);
}

.success {
    color: lightgreen;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
